---
//@ts-nocheck
const scrollingData = await fetch(
  "https://frontend-design-theme.netlify.app/api/financialProjections"
).then((response) => response.json());

console.log(scrollingData);
---


  <ul class="full-width">
    {
      scrollingData.values.map(async (scrolling) => {
        const Icon = await import(`../icons/${scrolling.icon}.svg`).then(
          (module) => module.default
        );
  
        return (
          <li class="flow">
            <Icon />
            <h2>{scrolling.title}</h2>
            <p>{scrolling.description}</p>
            <a href={scrolling.link.url}>{scrolling.link.text}</a>
          </li>
        );
      })
    }

  </ul>


<style>

  ul {
    list-style: none;
  }

  .full-width {
    grid-column: 1 / -1;
    display: flex;
    overflow-x: auto;
    gap: var(--card-gap);
    margin-inline: auto;
    /* padding-inline: calc((100vw - var(--content-width)) / 2); */
    padding-inline: max(20px, 50% - var(--content-width) / 2);
    scroll-padding-inline-end: max(20px, 50% - var(--content-width) / 2);
    /* scroll-snap-type: x mandatory; */
    scroll-snap-type: inline mandatory;

    li {
    /*   flex-basis: 65%;
      flex-shrink: 0; */
      flex: min(65%, 400px) 0 0;
      padding: 1.5rem;
      max-width: 500px;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      border-radius: var(--card-border-radius);
      background: #EBEBEB;
    }
    h2{
    font-size: var(--h3-font-size);
    color: var(--card-text-color);
  }
  p{
    font-size: var(--p-font-size);
    color: var(--font-color-g);
  }
  }


</style>
